.img1{
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
figure{
  background-image: url("https://i.postimg.cc/j568v49J/space-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 94%;
  position: relative;
  right: 40px;
  bottom: 17px;
  overflow: hidden;
  color: #fff;
  text-align:center;
  padding: 50px;
}
}
figcaption{
  text-align: center;
}
h3{
  text-align: center;
  font-size: 30px
}
dl{
  line-height: 1.75;
}
body{
  margin: 0;
  padding: 0;
  background-color: #F1F0C0
}
main{
overflow-x: hidden;
}
hr{
  margin-bottom:
}
.imagetag{
    display: flex;
    justify-content: center;
    align-items: center;
}
.accom{
  position: relative;
  bottom: 33px;
  font-size: 20px;
  background-color: white;
  /* background-color: #33322f; */

}
header{
  text-align: center;
  background-color: #33322f;
  padding:7px 0;
}
h1{
  font-size: 50px;
  color: silver;
}
small{
  color: #e5e5e5;
}
footer{
  text-align: center;
}
